@model IEnumerable<WE_Project.Models.topic>

@{
    ViewBag.Title = "TopicMenu";
}

<a class="collapse-item" href="@Url.Action("Create","topics")">Create new topic</a>
@foreach (var item in Model)
{
<a class="collapse-item" href="@Url.Action("Index", "topics",  new { id= item.topic_id })">@Html.DisplayFor(modelItem => item.topic_name)</a>
}
